// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";




// Include any default variable overrides here
$link-decoration: none;

$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-body: 16px;
$font-size-caption: 14px;

//spacing
$spacing-base: 8px;

//button, hover and active states
//$color-primary-hover: lighten($color-primary, 10%);
//$color-primary-active: darken($color-primary, 10%);

// Include any default map overrides here
$custom-colors: ( 
    "contrast": #FFA62B,
    "back": #16697A,
    "front": #82C0CC,
    "dark": #383939,
    "light": #EDE7E3,
    "white": #FCFCFC,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

.navbar {
    font-family: "Playfair display", serif;
}

.navbar-brand {
    color: #16697A;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

.background .overlay {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centers the overlay */
	z-index: 1; /* places the text on top of the image */
	text-align: center;
}

.gradient {
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fbc2eb, #a6c1ee);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* A softer shadow */
    border-radius: 16px; /* More rounded corners for modernity */
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.welcome {
    font-family: "Playfair Display", serif;
    color:#FCFCFC;
    font-weight: bold;
    letter-spacing: -1px;
}

.welcome-subtitles {
    font-family: "Lato", sans-serif;
    font-style: italic;
    color:#FCFCFC;
}

.btn-glass {
    color: white; /* Text color */
    backdrop-filter: blur(8px); /* Apply the frosted glass blur */
    border: 1px solid rgba(255, 255, 255, 0.4); /* Subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    border-radius: 15px; /* Rounded corners */
    padding: 0.5rem 1rem; /* Spacing */
    transition: all 0.3s ease; /* Smooth hover effect */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    color: #383939;
    font-weight: bold;
    font-family: "Playfair Diplay", Serif;
}

.btn-glass:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #383939;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Stronger shadow */
    transform: translateY(-2px); /* Subtle lift effect */
}
