
//colors
$color-accent: #FFA62B;
$color-primary: #16697A;
$color-secondary: #82C0CC;


.navbar {
    font-family: "Lato", sans-serif;
    border-bottom: 1px solid #ddd;
}

.fade-border {
    border-top: 1px solid #ddd;
    padding: 10px;
}

h1 {
    font-family: "PLayfair Display", serif;
    font-size: 3rem;
    color: #343a40;
}

.btn {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.backgroundimg {
    background-image: url("../img/background.jpg");
}