// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";




// Include any default variable overrides here
$link-decoration: none;
$font-family-base: "Playfair Display", serif;
$font-family-secondary: "Lato", sans-serif;

$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-body: 16px;
$font-size-caption: 14px;

//spacing
$spacing-base: 8px;

//button, hover and active states
$color-primary-hover: lighten($color-primary, 10%);
$color-primary-active: darken($color-primary, 10%);

// Include any default map overrides here
$custom-colors: ( 
    "contrast": #FFA62B,
    "back": #16697A,
    "front": #82C0CC,
    "dark": #383939,
    "light": #EDE7E3,
    "white": #FCFCFC,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

.navbar {
    font-family: "Playfair display", serif;
    border-bottom: 1px solid #ddd;
}

.fade-border {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.btn-primary {
    background-color: #FFA62B !important;
}

.backgroundimg {
    background-image: url("../img/background.jpg");
}

.testClass {
    color: #000;
    background-color: #000;
}